In [8]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from time import sleep
from tqdm.auto import tqdm

import FinanceDataReader as fdr
import nasdaqdatalink as ndl

In [9]:
# nasdaq_df = fdr.StockListing('NASDAQ')
# nasdaq_df
ndl.read_key(filename='.nasdaqdatalinkapikey')

In [13]:
# data = ndl.get_table("ZACKS/FC", paginate=True)
# data.to_csv("./test/aa.csv")
data = ndl.get_table(
    "ZACKS/FC",
    paginate=True,
    ticker=["AAPL", "MSFT"],
    per_end_date={"gte": "2015-01-01"},
    qopts={"columns": ["ticker", "per_end_date"]},
)
data

     ticker per_end_date
None
0      AAPL   2018-09-30
1      AAPL   2018-03-31
2      AAPL   2018-06-30
3      AAPL   2018-09-30
4      AAPL   2018-12-31
5      MSFT   2018-06-30
6      MSFT   2018-03-31
7      MSFT   2018-06-30
8      MSFT   2018-09-30
9      MSFT   2018-12-31

In [13]:
data = ndl.get_table(
    "SHARADAR/SF1",
    dimension="MRY",
    ticker="AAPL")
data.to_csv("./test/bb.csv")
data

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,AAPL,MRY,2018-12-31,2018-09-29,2018-09-29,2022-04-29,-3454000000,365725000000,372304500000,131339000000,...,19319704000,19821510000,20000435000,13.399,365725000000,0,13372000000,0,18.451,15410000000
1,AAPL,MRY,2017-12-31,2017-09-30,2017-09-30,2022-04-29,-150000000,375319000000,346541250000,128645000000,...,20660912000,20868968000,21006768000,10.984,375319000000,0,15738000000,0,17.985,27831000000
2,AAPL,MRY,2016-12-31,2016-09-24,2016-09-24,2022-04-29,634000000,321686000000,306462250000,106869000000,...,21553772000,21883280000,22001124000,9.854,313066000000,0,15685000000,0,14.306,27863000000
3,AAPL,MRY,2015-12-31,2015-09-26,2015-09-26,2022-04-29,-345000000,290345000000,271646000000,89378000000,...,22810888000,23013684000,23172276000,10.155,281336000000,0,19121000000,0,12.225,8768000000
4,AAPL,MRY,2014-12-31,2014-09-27,2014-09-27,2022-04-29,1082000000,231839000000,221383000000,68531000000,...,23951468000,24342288000,24490652000,7.509,223081000000,4318000000,13973000000,0,9.164,5083000000
5,AAPL,MRY,2013-12-31,2013-09-28,2013-09-28,2022-04-29,-471000000,207000000000,199421750000,73286000000,...,25437916000,25909280000,26086536000,6.596,201244000000,3453000000,13118000000,0,7.767,29628000000
6,AAPL,MRY,2012-12-31,2012-09-29,2012-09-29,2022-04-29,499000000,176064000000,157143750000,57653000000,...,26247368000,26174904000,26469932000,5.979,170705000000,2583000000,14030000000,0,6.522,19111000000
7,AAPL,MRY,2011-12-31,2011-09-24,2011-09-24,2022-04-29,443000000,116371000000,101193750000,44988000000,...,25958544808,25879224000,26226060000,4.183,111939000000,2014000000,8283000000,0,4.325,17018000000